body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
}

.container {
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#loginBtn {
  background: #22c55e;
}

#payBtn {
  background: #3b82f6;
}

.hidden {
  display: none;
}
