body{
  margin:0;
  padding:0;
  background:#07142b;
  color:white;
  font-family:Arial;
}

.container{
  text-align:center;
  margin-top:120px;
}

h1{
  font-size:45px;
}

p{
  font-size:22px;
  margin-bottom:40px;
}

button{
  padding:18px 30px;
  border:none;
  border-radius:12px;
  font-size:20px;
  cursor:pointer;
  margin:10px;
}

#loginBtn{
  background:#16c65b;
  color:black;
}

#payBtn{
  background:#4d86ff;
  color:white;
}
